<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro Deportivo</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <div class="contenedor">
        <h2 class="subtitulo">Canchas Pelolo</h2>
        <p class="texto">Ingreso de cliente</p>

        <form method="POST" action="/guardar" class="formulario">
            <label for="nombre">Nombres</label>
            <input type="text" name="nombre" id="nombre"><br>

            <label for="apellido">Apellidos</label>
            <input type="text" name="apellido" id="apellido"><br>

            <label for="fecha_nacimiento">Fecha de nacimiento</label>
            <input type="date" name="fecha_nacimiento" id="fecha_nacimiento"><br>

            <label for="correo">email</label>
            <input type="email" name="correo" id="correo"><br>

            <label for="celular">Telefomo</label>
            <input type="text" name="celular" id="celular"><br>

            <button type="submit">Guardar</button>
        </form>

        <h3>Clientes registrados:</h3>
            <table border="1" class="tabla-clientes">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Fecha de nacimiento</th>
                        <th>Correo</th>
                        <th>Celular</th>
                        <th>....</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.apellido }}</td>
                        <td>{{ cliente.fecha_nacimiento }}</td>
                        <td>{{ cliente.correo }}</td>
                        <td>{{ cliente.celular }}</td>
                        <td>
                            <button>Editar</button>
                            <form method="POST" action="/eliminar" style="display:inline;">
                                <input type="hidden" name="cliente_id" value="{{ cliente.id }}">
                                <button type="submit" onclick="return confirm('Seguro eliminar cliente?')">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="6">No hay clientes registrados aún.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
</body>
</html>
